@font-face{ 
	font-family: 'Myriad Pro Regular';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/MyriadPro-Regular.woff') format('woff'),
	     url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
	     url('../fonts/MyriadPro-Regular.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Myriad Pro Semibold';
	src: url('../fonts/MyriadPro-Semibold.eot');
	src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/MyriadPro-Semibold.woff') format('woff'),
	     url('../fonts/MyriadPro-Semibold.ttf') format('truetype'),
	     url('../fonts/MyriadPro-Semibold.svg#webfont') format('svg');
}